{% extends "base.html.twig" %}

{% block title %}Liste Quotes{% endblock %}

{% block body %}

{{ include('new.html.twig') }}

<h1> Quotes </h1>
<form name="f" method="get">
    <input name="search" id="search" type="text">
    <input type="submit" value="search">
</form>

<ul>
    {% for q in quotes %}
    <li>
        {{ q.content }}
        <p class="meta">---{{q.meta}}
            <a href="{{ path('modify_quotes', {'id': q.id}) }} ">Modifier</a>
            <a href="{{ path('delete_quotes', {'id': q.id}) }}">Supprimer</a>
        </p>

    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block stylesheets %}
<style>
    .meta {
        font-style: italic;
        color: grey;
    }
</style>
{% endblock %}