{% extends "base.html.twig" %}
{% block title %}Liste Quotes{% endblock %}
{%block body %}
    {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
        <a href="{{ path('app_logout') }} ">se déconnecter</a>
        <p>user:
            {{ app.user.username }}</p>
    {% else %}
        <a href="/login ">se connecter</a>

    {% endif %}

    <h1>Quotes</h1>
    {% if (formAdd is defined) and (is_granted('IS_AUTHENTICATED_FULLY')) %}
        {{ include("new.html.twig") }}
    {% endif %}

    <form name="f" method="get">
        <input name="search" id="search" type="text"/>
        <input type="submit" value="search"/>
    </form>

    <a href="{{ path('list_catg') }} ">Catégories</a>

    <ul>
        {% for q in quotes %}
            <li>
                {{ q.content }}<br/>
                {% if q.Owner != null %}
                    auteur:
                    {{ q.Owner.username }}
                {% endif %}
                {% if
                q.category != null %}
                    {{ q.category.libCatg }}
                {% endif %}
                <p class="meta">
                    ---{{ q.meta }}
                    {% if (is_granted('QUOTE_EDIT', q)) %}
                        <a href="{{ path('modify_quotes', {'id': q.id}) }} ">Modifier</a>
                    {% endif %}
                    {% if (is_granted('QUOTE_DELETE', q)) %}
                        <a href="{{ path('delete_quotes', {'id': q.id}) }}">Supprimer</a>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block stylesheets %}
    <style>
        .meta {
            font-style: italic;
            color: grey;
        }

        form,
        h1 {
            text-align: center;
        }
    </style>
{% endblock %}